html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../images/photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 200;
    color: white;
    top: 5%;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

